In [189]:
import pandas as pd
import requests

In [197]:
# Basic
input_file = "index_with_vars.html"
# Add Stats
input_file = "index_vars_bokeh.html"
with open(input_file, encoding="utf8") as f:
    html_file_raw = f.read()
html_file_raw[:50]

'\n\n\n\n<!DOCTYPE html>\n<html lang="en">\n  \n  <head>\n '

In [191]:
url_dict = {'urls':["https://www.york.ac.uk/teaching/cws/wws/webpage1.html",
                    "https://www.york.ac.uk/teaching/cws/wws/webpage2.html",
                    "https://www.york.ac.uk/teaching/cws/wws/webpage3.html"]}

In [192]:
df = (pd.DataFrame(url_dict)
      .assign(text = lambda df: [requests.get(url).text 
                                 for url in df['urls']]
             )
     )

In [193]:
df

,urls,text
0,https://www.york.ac.uk/teaching/cws/wws/webpag...,<HMTL>\n<HEAD>\n<TITLE>webpage1</TITLE>\n</HEA...
1,https://www.york.ac.uk/teaching/cws/wws/webpag...,<HMTL>\n<HEAD>\n<TITLE>webpage2</TITLE>\n</HEA...
2,https://www.york.ac.uk/teaching/cws/wws/webpag...,<HMTL>\n<HEAD>\n<TITLE>webpage3</TITLE>\n \n</...

In [196]:
x = df['text']
reports = "[`" + "`, `".join(x) + "`]"
reports[:50]

'[`<HMTL>\n<HEAD>\n<TITLE>webpage1</TITLE>\n</HEAD>\n<B'

In [185]:
num_reports = str(df.shape[0])
print(num_reports)

3

In [198]:
html_file = (html_file_raw
             .replace("##pages", num_reports)
             .replace("##reports", reports))
html_file[:50]

'\n\n\n\n<!DOCTYPE html>\n<html lang="en">\n  \n  <head>\n '

In [187]:
with open("index_output.html", "w") as f:
    f.write(html_file)